@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.full-page {
  position: relative;
  overflow: hidden;
  font-family: 'Dosis', sans-serif, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.section {
  width: 100%;
    min-height: 100vh;
      /* Minimum height of 100% of the viewport height */
  position: relative;
}

.section-content {
  max-width: 1200px;
  /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.test-h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 85px;
}

.test-h1-skills {
  font-family: 'Dosis', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 85px;
}

.test-h1-contact {
  font-family: 'Dosis', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 85px;
}

.picture {
  height: 230px;
  width: 200px;
  border-radius: 20%;
  border: 5px solid black;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
  transform: translateY(-2px);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  text-decoration: underline;
}

.home-content {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7%;
  text-align: center;
  border-radius: 10px;
}

.home-h1 {
  font-size: 85px;
font-family: 'Dosis', sans-serif;
  font-weight: 900;
}

.home-sub{
    font-size: 50px;
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
}
.home-p {
  font-size: 30px;
font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

#section2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-me-h1 {
font-family: 'Dosis', sans-serif;
  font-weight: 900;

}

.about-section-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;

}

.about-section-subtitle {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
font-family: 'Dosis', sans-serif;  
font-weight: 500;
}

.sm-profile {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 30%;
  margin-top: 15px;
  transition: transform 0.1s ease;
}

.email-profile {
  width: 55px;
  height: 55px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 35%;
  transition: transform 0.1s ease;
}

.sm-profile:hover {
  transform: scale(1.1);
}

.email-profile:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .home-content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
  }

  .test-h1,
  .test-h1-skills,
  .test-h1-contact {
    font-size: 60px;
  }

  .picture {
    max-width: 80%;
  }

        .section-content {
          padding: 10px;
}
}
