/* app.css */

@media (max-width: 910px) {

    .about-section-subtitle {
        flex-direction: column;
        top: 120px;
    }

    .about-part {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .skills-part {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.test-h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
}

.test-h1-skills {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
}

.test-h1-contact {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
}

/* .project-file-container {
  max-height: 300px;
  overflow-y: auto;
} */

.about-section {
    margin: 20px 0;
    /* Adjust the margins as needed */
    padding: 20px 0;
    /* Adjust the padding as needed */
}

.page-container {
    padding-top: 20px;
    /* Adjust the padding as needed */
}


@media (max-width: 768px) {
    .section {
        margin-bottom: 40px;
        /* Adjust this value to control the separation */
    }


    .container {
        grid-template-columns: 1fr;
        /* Single column layout */
        grid-template-rows: auto;
        /* Auto rows */
    }

    .item {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin: 1px;
    }
}


/* Projects.css  */

@media (max-width: 768px) {
    .container {
        width: 20%;
        /* Use full width */
        height: auto;
        /* Height will be determined by content */
        grid-template-columns: 1fr;
        /* Single column layout */
        grid-template-rows: auto;
        /* Auto rows */
        gap: 3px;
        padding: 3px;
        border-radius: 10px;
        margin-top: 400px;
        margin-bottom: 200px;
    }

    .item {
        width: 100%;
        /* Use full width */
        height: 50px;
        /* Height will be determined by content */
        border-radius: 10px;
        margin: 1px;
    }
}


/* Skills.css */

@media (max-width: 768px) {
    .skills-container {
        width: 30%;
        /* Adjust the width as needed */
        height: auto;
        max-width: 400px;
        /* Add max-width for responsiveness */
        margin: 0 auto;
        /* Center the container horizontally */
        padding: 5px;
        border-radius: 10px;
        margin-top: 150px;
        /* Adjust the top margin as needed */
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .skill-box-new {
        font-size: 2px;
        margin: 1px;
    }

    .test-h1-skills {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .skill-content-item {
        padding-bottom: 12px
    }
}

/* contact.css  */

@media (max-width: 768px) {
    .test-h1-contact {
        padding-top: 300px;
    }

    .contact-container {
        margin-bottom: 20px;
    }
}