.skill-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

.skills-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    /* Items side by side */
    flex-wrap: wrap;
    /* Wrap to the next row when needed */
    gap: 15px;
    /* Gap between items */
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    /* Add space between items */
    list-style: none;
    /* Remove bullet points */
}

.skill-item {
    background: white;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 15px;
    /* Reduce margin at the bottom */
    margin-top: 15px;
    /* Reduce margin at the top */
    flex: 1;
    /* Equal width for both items */
    max-width: calc(50% - 7.5px);
    /* Half of the container width with gap */
    padding: 20px;
    /* Add vertical padding */
}

.skills-item-p {
    font-size: 13px;
    text-align: justify;
    padding: 10px;
}

.item-h2 {
    font-size: 30px;
}

.h1-skills-content {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 85px;
    padding-top: 40px;
}

.skill-box-new {
    padding: 2px 2px;
    background: linear-gradient(to right, darkblue, darkorchid);
    border-radius: 10px;
    font-size: 30px;
    margin-top: 7px;
    color: white;
    /* Remove bullet points */
}

.skills-list-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
    }

    .skill-item {
        max-width: 100%;
        /* Full width on smaller screens */
    }
}